.carousel {
  position: relative;
}

.carousel-button-group {
  display: flex;
  justify-content: space-between;
}

.prev-button,
.next-button {
  border: none;
  padding: 0;
  background-color: transparent;
  z-index: 1000;
}

.prev-button-img {
  transform: rotate(180deg);
}

@media (min-width: 50em) {
  .carousel-button-group {
    display: flex;
    justify-content: center;
  }

  .prev-button,
  .next-button {
    margin-inline: 8rem;
  }

  .prev-button-disable {
    margin-inline: 8rem;
  }
}

.dot--inactive .dot {
  margin: 0.375rem;
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--black);
  opacity: 0.5;
  border-radius: 50%;
  display: inline-block;
}
.dot--active .dot {
  margin: 0.375rem;
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--grape_purple);
  border-radius: 50%;
  display: inline-block;
}
