.Rectangle {
  width: 120px;
  height: 30px;
  margin: 17px 194px 0 0;
  padding: 5px 31px 5px 32px;
  border-radius: 15px;
  background-color: #ddd;
}
.Reviews {
  width: 57px;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}
.Rectangles {
  width: 120px;
  height: 30px;
  margin: 0 20px 0 0;
  padding: 5px 40px 5px 39px;
  border-radius: 15px;
  background-color: var(--grape_purple);
}
.Vocal {
  width: 41px;
  height: 20px;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.Rectangless {
  width: 160px;
  height: 30px;
  margin: 0 0 0 20px;
  padding: 5px 35px 5px 34px;
  border-radius: 15px;
  background-color: #ddd;
}

.Instrumental {
  width: 91px;
  height: 20px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}

.Music-Teacher {
  width: 194px;
  height: 33px;
  margin: 0 0 0 8.3px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--grape_purple);
}

.Path {
  width: 19.7px;
  height: 22.8px;
  margin: 29.7px 132.4px 31.1px 316.9px;
  border: solid 0.6px #dc447d;
}

/* Slot booking */

.Rectangle_Slot {
  width: 400px;
  height: 413px;
  margin: 33px 1px 41px 79px;
  padding: 0 0 20px;
  opacity: 0.3;
  border-radius: 8px;
  background-color: #ddd;
}

.Rectangle_upper {
  width: 400px;
  height: 60px;
  margin: 0 0 14px;
  padding: 9px 18px 12px 21px;
  border-radius: 4px;
  background-color: var(--grape_purple);
}

.Fees {
  width: 46px;
  height: 25px;
  margin: 0 0 0 8.2px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.Hourly {
  width: 47px;
  height: 17px;
  margin: 0 0 22px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.span {
  width: 38px;
  height: 23px;
  margin: 16px 4px 0 5px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.Weekly-3-days {
  width: 93px;
  height: 17px;
  margin: 0 0 22px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.Weekly-3-days .text-style-1 {
  font-size: 15px;
}

.Monthly-12-days {
  width: 108px;
  height: 17px;
  margin: 0 0 22px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.Monthly-12-days .text-style-1 {
  font-size: 15px;
}
.Book-a-time-slot {
  width: 131px;
  height: 23px;
  margin: 0 219px 7px 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--grape_purple);
}
img.Shape {
  width: 7.8px;
  height: 14px;
  margin: 6px 8.2px 5px 0;
  object-fit: contain;
  border: solid 1.5px #fff;
}
.Morning {
  width: 66px;
  height: 23px;
  margin: 0 24px 9px 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}
.Rectangle_box {
  width: 80px;
  height: 36px;
  margin: 9px 10px 14px 0;
  padding: 8px 9px 8px 10px;
  border-radius: 4px;
  border: solid 1px var(--grape_purple);
  background-color: #fff;
}
.-AM {
  width: 61px;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}
.Afternoon {
  width: 79px;
  height: 23px;
  margin: 0 11px 9px 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}
.Evening {
  width: 63px;
  height: 23px;
  margin: 0 27px 9px 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}
.-PM {
  width: 64px;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #191919;
}

.Rectangle_button {
  width: 130px;
  height: 36px;
  margin: 10px 25px 0 35px;
  padding: 8px 25px 8px 26px;
  border-radius: 4px;
  background-color: var(--grape_purple);
}
.BOOK-NOW {
  width: 79px;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.Oval-2 {
  width: 30px;
  height: 30px;
  margin: 0 9px 0 0;
  padding: 7px 7px 8px 7px;
  background-color: var(--grape_purple);
}
