.horizontal-card {
  border: none;
}

.horizontal-card-img {
  max-width: 6.25rem;
  height: auto;
}
.content {
  font-size: var(--fs-s);
  font-weight: var(--fw-med);
  color: var(--lipstick);
  line-height: 1.375rem;
}
.footer {
  font-size: var(--fs-xs);
  font-weight: var(--fw-med);
  color: var(--warm_grey);
}
.col-img {
  padding: 0;
}
.primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #8064a2;
}

.login-button {
  padding: 0.3125rem 2.375rem;
  font-size: var(--fs-s);
  font-weight: var(--fw-med);
  color: var(--grape_purple);
  border-radius: 1rem;
  background-color: var(--white);
  border: solid 1px var(--grape_purple);
}

.login-button:hover {
  color: var(--white);
  background-color: var(--grape_purple);
  border: solid 1px var(--grape_purple);
}
.login-button:active {
  color: var(--white);
  background-color: var(--grape_purple);
  border: solid 1px var(--white);
}
.btn {
  background-color: #691a58;
  color: azure;
  border-radius: 10%;
  border-color: #691a58;
  box-shadow: none;
}
