.wrapping-container .btn{
    margin-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
}
.wrapping-container .btn-secondary{
    border-radius: 20px;
}
.wrapping-container .btn-light {
    background: none;
    border: none;
}
