.schedule-table {
  table-layout: fixed;
}

.schedule-table th {
  font-weight: var(--fw-med);
}

.edit-icon {
  fill: var(--grape_purple);
  transition: fill ease-in-out 0.1s;
}

.edit-icon:active {
  fill: #691a589f;
}

.schedule-table td:hover {
  cursor: pointer;
}
td.disabled {
  cursor: not-allowed;
}
td.disabled:hover {
  cursor: not-allowed;
}

.login-button {
  padding: 0.3125rem 2.375rem;
  font-size: var(--fs-s);
  font-weight: var(--fw-med);
  color: var(--grape_purple);
  border-radius: 1rem;
  background-color: var(--white);
  border: solid 1px var(--grape_purple);
}

.login-button:hover {
  color: var(--white);
  background-color: var(--grape_purple);
  border: solid 1px var(--grape_purple);
}
.login-button:active {
  color: var(--white);
  background-color: var(--grape_purple);
  border: solid 1px var(--white);
}

.login-button:disabled {
  /* pointer-events: none; */
  cursor: not-allowed;
  opacity: 0.4;
}
.login-button:disabled:hover {
  color: var(--grape_purple);
  background-color: var(--white);
  border: solid 1px var(--grape_purple);
}
