.aspiring-musician-container {
  margin: 5rem 0;
  padding: 0.4rem 1rem;
}

@media (min-width: 50em) {
  .aspiring-musician-container {
    padding: 1rem 4rem;
  }
}

.featured-artist-header {
  display: flex;
  align-items: center;
}

.featured-artist-header-double-arrow-icon {
  max-width: 2.75rem;
  height: auto;
}

.featured-artist-heading {
  margin: 0;
  font-size: var(--fs-2xl);
  font-weight: var(--fw-bold);
  color: var(--grape_purple);
}

.login-button {
  padding: 0.3125rem 2.375rem;
  font-size: var(--fs-s);
  font-weight: var(--fw-med);
  color: var(--grape_purple);
  border-radius: 1rem;
  border: solid 1px var(--grape_purple);
  background-color: var(--white);
}
.selected {
  color: var(--white);
  background-color: var(--grape_purple);
}

.login-button:hover {
  color: var(--white);
  background-color: var(--grape_purple);
  border: solid 1px var(--grape_purple);
}
.login-button:active {
  color: var(--white);
  background-color: var(--grape_purple);
  border: solid 1px var(--white);
}

.dropdown-label {
  margin: 0;
  font-size: var(--fs-xl);
  font-weight: var(--fw-med);
  color: var(--grape_purple);
}
